@page
@{
    ViewBag.Title = "Rank";
}

@await Component.InvokeAsync("Breadcrumb", new
{
    pageTitle = "Rank",
    breadcrumbItems = new List<Item>
    {
        new Item { Title = "Dashboard", Url = "/Dashboard", IsActive = false },
        new Item { Title = "HR", Url = "javascript:void(0)", IsActive = false },
        new Item { Title = "Masters", Url = "javascript:void(0)", IsActive = false },
        new Item { Title = "Rank", Url = "javascript:void(0)", IsActive = true }
    }
    })

@await Component.InvokeAsync("SectionTable", new
    {
        sectionId = "Rank",
        buttonText = "Add Rank",
        tableHeaders = new List<string> { "#", "Rank Name", "Rank Type", "Priority", "Service", "Action" }
})

<!-- Rank Modal -->
<div class="modal fade" id="RankModal" tabindex="-1" aria-labelledby="RankModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RankModalLabel">Add/Edit Rank</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="RankForm" class="row g-3">
                    <input type="hidden" id="RankId" />
                    @Html.AntiForgeryToken() <!-- CSRF Token -->

                    <div class="col-12">
                        <div class="form-floating">
                            @await Component.InvokeAsync("MaestroDropdown", new { viewType = "Army Type", selectId = "ddlArmyType", isRequired = true, isInvalid = false })
                            <label for="ddlArmyType">Service</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text" id="txtrank" class="form-control" placeholder="" required />
                            <label for="ddrank">Rank Name</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-floating">
                            <select id="ddlRankType" class="form-control" required>
                                <option value="">Select</option>
                                <option value="OFFICER">OFFICER</option>
                                <option value="JCO">JCO</option>
                                <option value="NCO">NCO</option>
                                <option value="OR">OR</option>
                                <option value="CIVILIAN">CIVILIAN</option>

                            </select>
                            <label for="ddlRankType">RankType</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <input type="number" min="0" id="Priorty" class="form-control" placeholder="" required />
                            <label for="Priorty">Priority</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/Pages/HR/Masters/Rank.cshtml.js")"></script>
}