@page "/Dashboard"
@model AWC_CMS.Pages.DashboardModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div>